body{
    background-color: rgb(127, 134, 152);
    padding-top: 10%;
}


header{
    position: relative;
    margin: 0 auto 5px auto;
    padding: 1%;
    background-color:  rgb(81, 100, 150);
    border: 1px solid black;
    justify-content: space-around;
    border:2px solid black;
    box-shadow: 2px 5px 7px;
    position: fixed; 
    top: 0;
    width: 97%;
}
.nav{
    box-shadow: 2px 2px 5px;
}

.nav:hover{
    background-color: #6E0D25;
}

.nav:active{
    box-shadow: inset 2px 2px 5px;
}

#navbar{
    list-style-type: none;
    background-color: rgb(64, 93, 169);
    padding: 0;
    margin: 0;
    box-shadow: 2px 5px 7px;
    overflow: hidden;
}

#navbar a{
    color:black;
    text-decoration: none;
    padding: 25px;
    display: block;
    text-align: center;
    float: left;
}


#navbar #account {
    color:black;
    background-color:rgb(64, 93, 169);
    border:0px;
    text-decoration: none;
    padding: 25px;
    display: block;
    text-align: center;
    float: right;
    margin: 0;
    cursor: pointer;
    
    
  }
  
#navbar #account:hover{
    background-color: #CC7178;
    transition-duration:2s;
    
    
}
#navbar #account:active {
    background-color: #6E0D25;
    transition-duration:0s;
    box-shadow: inset 2px 5px 5px;
    
}


section{
    border:2px solid black;
    background-color: rgb(116, 132, 174);
    box-shadow: 2px 3px 7px;
    padding: 10px;
}


#dog{
    display: block;
    height: 25%;
    width: 20%;
    margin:  auto;
    border-radius: 50%;
    box-shadow: 5px 5px 20px;
  
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

footer{
    margin-top: 25%;
    justify-self: center;
    background-color: #CC7178;
    border-radius: 80%;
    
    
}
